/* ======= style ======= */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 62.5%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: black;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/* ===== nav ====== */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  box-shadow: var(--light-shadow);
}

.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-logo {
  cursor: pointer;
  height: 25px;
  color: black;
  font-weight: 600;
  font-size: large;
}

.btn {
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.toggle-btn:hover {
  transform: rotate(90deg);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-container {
  height: 10rem;
}
.nav-links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.nav-links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.search-btn {
  display: none;
}
.post-btn {
  display: none;
}
.trusted-banner {
  display: none;
}
/* nav media query */

@media screen and (min-width: 800px) {
  .nav-center {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    justify-content: space-between;
    max-width: 1170px;
  }
  .toggle-btn {
    display: none;
  }
  .search-btn {
    display: inline-block;
  }

  .nav-header {
    padding: 0;
  }

  .links-container {
    height: auto !important;
  }

  .nav-links {
    display: flex;
    justify-self: left;
    line-height: 0.9em;
    align-items: center;
    float: right;
    cursor: pointer;
  }

  .nav-links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .nav-links a:hover {
    padding: 0;
    background: transparent;
  }

  .link-btn {
    letter-spacing: 1px;
    font-weight: 400;
    display: inline-block;
    font-size: 0.8em;
    margin: 10px 10px;
    transition: all 0.2s;
  }

  .link-btn > a {
    color: #212529;
  }

  .post-btn {
    background-color: #f03e3e;
    color: white;
    font-size: 1em;
    padding: 10px 20px 8px 20px;
    border-radius: 2px;
    display: block;
  }
}

/* ====== Hero ======= */

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(https://weworkremotely.com/assets/Header@3x-c754140b276c02588dd4a43b70212d3668a75a54970c4baac325aeb60cb92f66.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
  margin-top: -32px;
  padding-bottom: 60px;
  padding-top: 1px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.hero-center {
  width: 90vw;
  max-width: var(--max-width);
  display: grid;
  align-items: center;
}

.hero-info h1 {
  text-transform: none;
  max-width: 500px;
  margin-bottom: 2rem;
}
.hero-info p {
  max-width: 35em;
  line-height: 1.8;
  font-size: medium;
}

.Post-job {
  background-color: #f03e3e;
  color: white;
  font-size: 1em;
  padding: 10px 20px 8px 20px;
  border-radius: 2px;
  border: transparent;
  cursor: pointer;
}
.hero-images {
  display: none;
}

/* hero media query */
@media screen and (min-width: 800px) {
  .hero::before {
    background-size: contain;
    height: 100%;
  }
  .hero-center {
    grid-template-columns: 2fr 1fr;
    /* margin-bottom: 9rem; */
  }

  .hero-info h1 {
    font-size: 3rem;
  }
  .hero-info p {
    font-size: 1.25rem;
  }
  .hero-images {
    display: block;
    justify-self: center;
  }
  .phone-img {
    width: 17rem;
  }
  /* .banner-header {
    padding-bottom: 20px;
    margin-top: 60px;
  } */
  .trusted-banner {
    display: block;
    margin: 0 auto;
    width: 85%;
    padding-top: 2%;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(https://weworkremotely.com/assets/Trusted@2x-6d138fefbbe40fa68009b631b68bdb4b518bf30a6263fd7ea16658435a846bcd.png);
  }

  .trusted-text {
    color: #9ea0a2;
    position: relative;
    text-align: center;
    font-size: 1em;
    background-color: #fff;
    bottom: 110px;
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .hero::before {
    background-size: contain;
    height: 100%;
  }
  .hero-center {
    grid-template-columns: 2fr 1fr;
    align-items: end;
    padding-bottom: 12vh;
  }
}

@media screen and (min-width: 1200px) {
  .hero::before {
    background-size: contain;
    height: 100%;
  }
  .hero-center {
    grid-template-columns: 2fr 1fr;
    align-items: end;
    padding-bottom: 12vh;
  }
  .hero-info h1 {
    max-width: 100%;
    font-size: 5.5rem;
  }
  .hero-images {
    align-self: end;
  }
  .phone-img {
    width: 20rem;
    color: var(--clr-red-dark);
  }
}

@media screen and (min-width: 1400px) {
  .hero::before {
    background-size: contain;
    height: 100%;
  }
  .hero-center {
    padding-bottom: 20vh;
    /* margin-bottom: 7rem; */
  }
  .phone-img {
    width: 7rem;
  }
}

/* ========= Jobs ======= */

.Jobs {
  margin: 0 auto;
  padding: 10px 30px;
}

.Jobs-btn {
  margin: 0 80px;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  box-shadow: 0 4px 4px -2px rgb(144 146 148 / 20%);
  font-size: 1em;
  padding: 12px 18px 12px 18px;
  border-radius: 2px;
  cursor: pointer;
}

.Jobs-title > a {
  color: #212529;
  text-align: left;
  letter-spacing: normal;
  padding-left: 3px;
  font-size: 0.7rem;
}

.Jobs-title > span {
  color: #212529;
  letter-spacing: normal;
  font-weight: 200;
  font-size: 12px;
  margin-left: 5px;
}

img.feed {
  display: none;
}

@media screen and (min-width: 800px) {
  .Jobs-title {
    margin: 10px 30px;
  }

  .Jobs-title > a {
    color: #212529;
    text-align: left;
    letter-spacing: normal;
    padding-left: 10px;
    font-size: 1.5rem;
  }
  .Jobs-title > span {
    color: #212529;
    font-size: 1.2rem;
    letter-spacing: normal;
    font-family: "Neufile Grotesk Light", sans-serif;
    font-weight: 200;
  }
  img.feed {
    display: inline;
    width: 16px;
    height: 16px;
  }

  .Jobs-btn {
    margin: 0 450px;
    width: 300px;
    height: 40px;
  }
}

/* ==== Lists ====== */

.features {
  background-color: rgba(255, 213, 0, 0.2);
  border: none;
  font-size: 10px;
  padding: 30px 10px;
  position: relative;
  margin-bottom: 8px;
  row-gap: 5px;
}

.new {
  position: absolute;
  left: 275px !important;
  top: 14px;
  background-color: #ffd500;
  font-weight: bold;
  color: #4d5154;
  font-size: 6px;
  text-transform: uppercase;
  padding: 6px 8px 3px 8px;
  border-radius: 3px;
  font-family: "Neufile Grotesk Semi Bold", sans-serif;
  margin-top: 32px;
}

/* .highlight-bar {
    border-left: 4px solid #ffd500;
    height: 100px;
    float: right;
    position: absolute;
    left: 335px;
    top: 8px;
    border-radius: 4px;
} */

.company-name {
  color: #212529;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  font-size: 12px;
}

.job-title {
  color: #212529;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  font-size: 20px !important;
}

.region-company {
  color: #212529;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}

@media screen and (min-width: 800px) {
  .features {
    font-size: 20px;
    margin: 10px 30px;
  }
  .new {
    position: absolute;
    left: 1000px !important;
    top: 20px !important;
    font-size: 0.8rem;
  }

  .flag-logo {
    display: inline-block;
    margin-top: 15px;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-color: #fff;
    background-position: center center;
    border-radius: 50%;
    background-repeat: no-repeat;
    left: -40px;
    position: absolute;
    border: 1px solid #212529;
  }

  /* .company-name, .region-company{
  margin-left: 2px;
} */

  .job-title {
    color: #212529;
    margin-left: 20px;
  }
}

/* =========== link ========== */
.description-btn {
  margin: 20px 20px 0px 40px;
  color: #212529;
}

.link-to-btn {
  font-size: 20px;
}

.link-back {
  font-size: 20px;
  margin-left: 100px;
}

.home-back {
  margin-top: 20px;
}
.back-btn {
  margin-left: 10px;
  color: #f03e3e;
}

.arrow {
  color: #f03e3e;
}

.title {
  font-size: 16px;
}

.description {
  margin-top: 20px;
}

.img-descripton {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  margin-right: 10px;
}

.location-btn {
  border: 1px solid powderblue;
  background-color: powderblue;
  padding: 4px 10px;
  font-size: 13px;
}

/* ===== Footer ===== */
/* footer {
  height: 100hv;
} */

.footer-container {
  background-color: black;
  height: 300px;
}

.footer-head {
  text-align: center;
}

.footer-text {
  margin-left: 10px;
  text-align: center;
}

.footer-post {
  text-align: center;
}

.footer-desc {
  color: white;
}

.num-post {
  /* display: flex;
  justify-content: flex-end;
  font-size: x-large; */
}

.text-post {
  margin-top: -8px;
}

.foot-head {
  font-size: 12px;
}

.footer-text {
  color: white;
}

.num-post {
  color: #fff;
}
.text-post {
  color: white;
}

.footer-post-btn {
  background-color: red;
  color: white;
  padding: 3px 5px;
  cursor: pointer;
  width: 90px;
  height: 30px;
  margin-left: 8px;
}

@media screen and (min-width: 800px) {
  .footer-container {
    background-color: black;
    height: 300px;
  }

  .footer-top {
    margin: 0px 20px;
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
  }
  .num-post {
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
  }
  .footer-post-btn {
    display: block;
    background-color: red;
    color: white;
    padding: 3px 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
  }
  .footer-head {
  text-align: left;
  margin-left: 2px;
}
.footer-text {
  margin-left: 10px;
  text-align: left;
}
}
